# Don't track content of these folders
img/
image/
images/

# Compressed Files #
####################
*.zip
*.7z
*.gz
*.tar
*.rar

# Compiled source #
###################
*.o
*.so
*.com
*.dll
*.iso
*.bin
*.swp

# Java Compiled Files #
#######################
*.class
*.jar

# Windows Compiled Files #
##########################
*.exe
*.msi

# Mac Compiled Files #
######################
*.dmg
*.pkg

# Files for ART/Dalvik VM #
###########################
*.dex

# Log Files #
#############
*.log

# Gradle Files #
######################
*.gradle

# Built Android Application Files #
###################################
*.apk
*.ap_
*.aab

# Keystore Files #
##################
*.jks
*.keystore

# System Specific Files #
#########################
# Mac #
#######
._whatever
.DS_Store
.Trashes/
.hidden
.hotfiles.btree
.vol
# Windows #
###########
boot.ini

# Other #
*.dex
local.properties

# External Native Build Folder #
################################
PlantHawaii/.externalNativeBuild

# Android Studio #
###########################
PlantHawaii/build/
PlantHawaii/bin/
PlantHawaii/gen/
PlantHawaii/out/
PlantHawaii/.navigation/
PlantHawaii/captures/

# Google Services #
###################
google-services.json

# Freeline #
############
freeline.py
freeline/
freeline_project_description.json

# Fastlane #
############
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Eclipse #
#########################
proguard/

# IntelliJ #
############
*.iml
PlantHawaii/.idea/workspace.xml
PlantHawaii/.idea/libraries/
PlantHawaii/.idea/tasks.xml
PlantHawaii/.idea/gradle.xml
PlantHawaii/.idea/assetWizardSettings.xml
PlantHawaii/.idea/dictionaries
PlantHawaii/.idea/libraries
PlantHawaii/.idea/caches
