# Don't track content of these folders
img/
image/
images/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pkg
*.exe
*.msi
*.swp
*.iml
*.bin

# System Specific Files #
#########################
.DS_Store
.gradle
local.properties

# Android Studio Defaults #
###########################
# default gitignore created by it
PlantHawaii/.idea/workspace.xml
PlantHawaii.idea/libraries
PlantHawaii//build
PlantHawaii/captures
PlantHawaii/.externalNativeBuild
